useDynLib(simplicialdepth, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(SDk)
export(SDk_parallel)
export(circular_asd_all_arcs)
export(circular_asd)
export(simplicial_depth_2d)
export(spherical_asd)
