useDynLib(simplicialdepth, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(SDk_wrapper)
export(SDk_parallel_wrapper)
export(circular_asd_all_points_wrapper)
export(circular_asd_wrapper)
export(simplicial_depth_2d_wrapper)
export(spherical_asd_wrapper)
